In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df2=pd.read_csv('/content/vg_data_dictionary.csv')
df2

           Field                                     Description
0            img        URL slug for the box art at vgchartz.com
1          title                                      Game title
2        console               Console the game was released for
3          genre                               Genre of the game
4      publisher                           Publisher of the game
5      developer                           Developer of the game
6   critic_score                    Metacritic score (out of 10)
7    total_sales              Global sales of copies in millions
8       na_sales      North American sales of copies in millions
9       jp_sales            Japanese sales of copies in millions
10     pal_sales  European & African sales of copies in millions
11   other_sales       Rest of world sales of copies in millions
12  release_date                   Date the game was released on
13   last_update                  Date the data was last updated

**EXPLORING DATA**

In [10]:
df=pd.read_csv('/content/vgchartz-2024.csv')
df

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64011,/games/boxart/full_2779838AmericaFrontccc.jpg,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-11,2019-01-28
64012,/games/boxart/full_8031506AmericaFrontccc.jpg,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64013,/games/boxart/full_6553045AmericaFrontccc.jpg,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64014,/games/boxart/full_6012940JapanFrontccc.png,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-28,2019-02-24
64015,/games/boxart/default.jpg,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [13]:
df.shape

(64016, 14)

**CHECK DATA TYPE**

In [14]:
#release_date object to date & last_ubdate object to date
df.dtypes

img              object
title            object
console          object
genre            object
publisher        object
developer        object
critic_score    float64
total_sales     float64
na_sales        float64
jp_sales        float64
pal_sales       float64
other_sales     float64
release_date     object
last_update      object
dtype: object

**CHECK DUPLICATED**

In [16]:
df.duplicated().sum()

np.int64(0)

**CHECK NULLS**

In [17]:
#we have NULL VALUES AT {developer,critic_score ,total_sales ,na_sales ,jp_sales ,pal_sales , other_sales	,release_date ,last_update}
df.isnull().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

**PREPROCESSING**

In [21]:
#fill release wite the most frequent value
df['release_date'].fillna(df['release_date'].mode()[0],inplace=True)

In [23]:
df['release_date']

0        2013-09-17
1        2014-11-18
2        2002-10-28
3        2013-09-17
4        2015-11-06
            ...
64011    2016-08-11
64012    2020-07-30
64013    2020-07-30
64014    2019-02-28
64015    1994-01-01
Name: release_date, Length: 64016, dtype: object

In [24]:
df['release_date']=pd.to_datetime(df['release_date'])

In [25]:
df.dtypes

img                     object
title                   object
console                 object
genre                   object
publisher               object
developer               object
critic_score           float64
total_sales            float64
na_sales               float64
jp_sales               float64
pal_sales              float64
other_sales            float64
release_date    datetime64[ns]
last_update             object
dtype: object

In [28]:
#fill critic_score with average
df['critic_score'].fillna(df['critic_score'].mean(), inplace=True)

In [32]:
df.isnull().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score        0
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date        0
last_update         0
last_ubdate         0
dtype: int64

In [31]:
#fill withe date from relase date before that i should convert datatype for last_ubdate
df['last_ubdate']=pd.to_datetime(df['last_update'])
df['last_update'].fillna(df['release_date'], inplace=True)

In [33]:
# i will asume no sales and i will fill with 0
df[['na_sales', 'jp_sales', 'pal_sales', 'other_sales']] = df[['na_sales', 'jp_sales', 'pal_sales', 'other_sales']].fillna(0)

In [37]:
df.isnull().sum()

img              0
title            0
console          0
genre            0
publisher        0
developer       17
critic_score     0
total_sales      0
na_sales         0
jp_sales         0
pal_sales        0
other_sales      0
release_date     0
last_update      0
last_ubdate      0
dtype: int64

In [36]:
#calculate total sales after fill nulls
df['total_sales'] = df[['na_sales', 'jp_sales', 'pal_sales', 'other_sales']].sum(axis=1)

In [39]:
#fill developer with publisher bassed on dataset and publisher and developer have same name
df['developer'] = df['developer'].fillna(df['publisher'])

In [40]:
df.isnull().sum()

img             0
title           0
console         0
genre           0
publisher       0
developer       0
critic_score    0
total_sales     0
na_sales        0
jp_sales        0
pal_sales       0
other_sales     0
release_date    0
last_update     0
last_ubdate     0
dtype: int64

In [41]:
df.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_ubdate
count,64016.000000,64016.000000,64016.000000,64016.000000,64016.000000,64016.000000,64016,64016
mean,7.220440,0.103121,0.052261,0.010746,0.029943,0.010171,2005-06-14 13:32:52.756810880,2008-08-14 13:41:01.334666496
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1971-12-03 00:00:00,1973-10-08 00:00:00
25%,7.220440,0.000000,0.000000,0.000000,0.000000,0.000000,1996-12-31 00:00:00,2001-11-06 00:00:00
50%,7.220440,0.000000,0.000000,0.000000,0.000000,0.000000,2007-04-23 00:00:00,2009-07-28 00:00:00
75%,7.220440,0.020000,0.000000,0.000000,0.000000,0.000000,2011-11-25 00:00:00,2018-03-28 06:00:00
max,10.000000,20.330000,9.760000,2.130000,9.850000,3.120000,2024-12-31 00:00:00,2024-01-28 00:00:00
std,0.470575,0.467071,0.243780,0.063067,0.185641,0.064221,NaN,NaN

In [42]:
df.to_csv('vgchartz-2024.csv', index=False)